
body {
    background-color: #EEFFDA !important;
}



.home-background {
    background: url('/static/BloomBuddy.gif') no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}


.comments-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    overflow-wrap: break-word;
    border: 2px solid #ccc;
}

.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.large-input {
    width: 100%; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    }