{% extends "base.html" %}
{%block content%}
<div class="bg-light p-5">
    <h1>BloomBuddy Information</h1>
</div>
<div>
    <p>Într-o epocă în care timpul este prețios și mulți dintre noi tindem să fim mai conectați la lumea digitală,
        BloomBuddy ne oferă o soluție simplă și eficientă pentru a ne asigura că plantele noastre sunt întotdeauna în
        formă optimă. Nu mai este nevoie să ne îngrijorăm că uităm să le udăm sau să ne întrebăm dacă le oferim
        suficientă atenție. Cu BloomBuddy, avem un partener de încredere care ne reamintește când este momentul să
        intervenim pentru a ne asigura că plantele noastre înfloresc în toată splendoarea lor. Folosind tehnologia de
        ultimă generație, aplicația monitorizează umiditatea solului și oferă recomandări personalizate de îngrijire,
        adaptate fiecărei specii de plantă.

        Mai mult decât atât, BloomBuddy ne oferă oportunitatea de a comunica cu alți iubitori de plante prin intermediul
        platformei sale interactive. Astfel, putem împărtăși experiențe, sfaturi și trucuri, și putem învăța unii de la
        alții cum să avem grijă mai bine de prietenii noștri verzi. Comunitatea BloomBuddy este un loc unde pasionații
        de grădinărit, fie ei începători sau experți, pot găsi suport și inspirație, creând legături și prietenii bazate
        pe dragostea comună pentru natură.

        Cu o interfață prietenoasă și ușor de utilizat, BloomBuddy transformă grădinăritul într-o activitate plăcută și
        simplă, accesibilă tuturor </p>
</div>
{% endblock %}
